$primary: #F1A94A;
$secondary: #D95728;
$blue: #071029;
//$yellow:#F1A94A;
$orange:#D95728;
$green:#2A9652;
$red:#74120E;
@import "../../node_modules/bootstrap/scss/bootstrap.scss"; //../../ remontre de DEUX dossiers ../ remonte de UN dossier
form .error {
    color: #ff0000;
}

body {
    font-family: 'Comfortaa', cursive;
}

$table-row-background: #f1a94a !default;

/* section {
    background-color: $yellow;
} */


/* main {
    background-color: $red;
} */